{% extends 'base.html.twig' %}

{% block title %}Vos reservations passées et a venir{% endblock %}
{% block body %}
<div class="container">
<h2>Mes reservations</h2> 
<div class="alert alert-info mt-3">
<p>Retrouvez ci-dessous vos reservations passées et a venir</p>
</div>
{# on faire appelle a notre variable "app" qui contient notre "user" (app) qui est connecté et ce "user" a des "bookings" (proprieté a l'interieur de 'entity "user" issu de la reation (booking  et user [cle etrangere (sur le booking) =>booking_id])) #}
{% for booking in app.user.bookings %}
    <div class="row mt-5">
            <div class="col-4">
            {# la photo de l'annonce qui est concerné par la reservation #}
            {# nous avons notre reservation,dans cette reservation nous avons notre annonce "ad"(proprieté a l'interieur de 'entity "booking" issu de la reation (booking  et ad [cle etrangere (sur le booking) =>ad_id])) qui nous permetra d'avoir acces a la "coverImage" proprieté de "ad" #}
            <img src="{{booking.ad.coverImage}}" alt="Photo de l'annonce {{booking.ad.title}}" class="img-fluid">
            
            {# _____________D12-V13____________________ Affichage des notes de l'utilisateur connecté sur la liste des reservations #}
            
            <div class="mt-3">
                {# fonction "getCommentFromAuthor()" defini dans l'entity "Ad.php" #}
                {% set comment = booking.ad.getCommentFromAuthor(app.user) %}
                {% if comment is not null %}
                <strong>
                Note donnée :</strong>
                {% include "partials/rating.html.twig" with {'rating': comment.rating} %}
                {% else %}
                    Vous n'avez pas encore donné de note.
                    {# nous rammener sur la page de succes de reservation, afin de laisser un commentaire sur  #}
                    {# le "#comment" me permet de cibler directement la div du formulaire de commentaire avec l'id = "comment" #}
                <a href="{{ path('booking_show',{'id':booking.id}) }}#comment">
                    Je donne mon avis !
                </a>
                {% endif %}
            </div>

            </div>
            <div class="col-8">
            <h4>{{booking.ad.title}}</h4>
        <p>
        Reservation <strong>N°{{booking.id}}</strong><br>
        Du {{booking.startDate|date('d/m/Y')}} au {{booking.endDate|date('d/m/Y')}} ({{booking.amount}} &euro;)
        </p>
        {# plus d'infos sur la reservation en question; bookingController qui nous affiche la page (booking/show.html.twig) #}
        <a href="{{path("booking_show",{"id":booking.id} )}}" class="btn btn-info">
        Plus d'information
        </a>
            </div>
        </div>
{% endfor %}
</div>
{% endblock %}

