<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
<meta name"viewport" content="width=devise-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{# Les assets de symfony
https://symfony.com/doc/current/templates.html#linking-to-css-javascript-and-image-assets
 #}
{# lien pour les icons #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <title>SymBNB - {% block title %}Welcome!{% endblock %}</title>
       
        {% block stylesheets %} {% endblock %}
{# j'ai du installer les asset de symfony via "composer require symfony/asset" et vider mes caches afin d'utiliser l'expression "asset" pour cibler mes fichiers "css/js/img" #}
<link href="{{ asset('/css/bootstrap.min.css') }}" rel="stylesheet"/> 
<link href="{{ asset('/css/app.css') }}" rel="stylesheet"/>

</head>
<body>

{# pour inclure un fichier de l'entete du dossier "admin" #}
{% include '/admin/partials/header.html.twig' %}


{% block header %} {% endblock %}
        {% block body %}{% endblock %}

        <script src="{{ asset('/js/jquery.min.js') }}"></script>
        <script src="{{ asset('/js/popper.min.js') }}"></script>
        <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
        
        <!-- Latest compiled JavaScript -->
{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> #}

        {% block javascripts %} {% endblock %}
    </body>
    
  {# pour inclure un fichier du pieds de page du dossier "admin" #}      
{% include '/admin/partials/footer.html.twig' %}
</html>


