{# Afficher les annonces voir (ad/index/html.twig) et (user/index/html.twig) #}

{# declarer une variable 'url' qui va contenir le chemin pour ne pas a avoir reecrire tout le chemin entier plusieur fois #}
                    {% set url = path('ads_show',{'slug':ad.slug}) %}
                    <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-hearder text-center">
                                {{ad.rooms}}, <strong>{{ad.price}}&euro; / nuit </strong><br>
                                 <small>pas encore noté</small>
                        </div>
                                {# envoyer le slug en paramettre de l'url (voir adController.php @ROUTE L-27) #}
                                <a href="{{ url }}">
                                <img src="{{ad.coverImage}}" alt="" style="height:200px; width:100%; display:block">
                                </a>
                        <div class="card-body">
                                 <h4 class="card-title"> 
                                 <a href="{{ url }}" style="text-decoration: none;">
                                 {# les filtre twig / truncate /j'ai du l'installer "composer require twig/string-extra" #}
                                 {{ad.title|u.truncate(30, '...') }}</a>
                                 </h4>
                                 {# <p class="card-text">{{ad.content| raw}}</p> #}
                                 <a class="btn btn-secondary btn-lg" href="{{ url }}" role="button">Voir plus</a>
                        {# Si l'utilisateur est connecté, et qu'il est le meme (==) que l'auteur de cette annonce alors afficher le boutton (modifier) (le ad.author vient de ma variable "a") #}
                        {% if app.user and app.user ==  ad.author %}
                                <a class="btn btn-secondary btn-lg" href="{{path('ads_edit',{"slug":ad.slug} )}}">Modifier</a>                
                        {% endif %}
                        </div>
                    </div>
                    </div>