{% extends 'base.html.twig' %}

{% block title %}
{{ad.title}}
{% endblock %}

{% block body %}
<div class="ad-title" style="background-image:url({{ad.coverImage}})">
<div class="container">
    <h1>{{ad.title}}</h1>
    <p>{{ad.introduction}}</p>
     <p class="h2">
     <strong>{{ad.rooms}}chambres </strong> pour <strong>{{ad.price}}&euro; </strong> par nuit
     </p>
     <a class="btn btn-primary btn-lg" href="#">Reserver</a>                
    </div>
</div>

<div class="container">
    <div class="row">
                <div class="col-md-8 mb-3">
                    {{ad.content | raw}}





<div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
        <ol class="carousel-indicators">
        {% for image in ad.images %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" {% if loop.first %} class="active" {% endif %} ></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
         {# des annonces "ad" on veut acceder au champs appelé "images"[champs de ad] (type collection qui est lié a "[ad_id]"=>champs de image), de celui ci on veut egalement avoir acces au champs "url && caption"[table image] #}
        {% for image in ad.images %}
            <div class="carousel-item {% if loop.first %} active {% endif %}">
            <img src="{{image.url}}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                <h5>{{ad.title}}</h5>
                <p>{{image.caption}}</p>
            </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
</div>

    
                </div>
                
                <div class="col">
                {# creer une variable [a] pour eviter les repetition de [ad.author] #}
                {% set a = ad.author %}
                {# declarer une variable 'url' qui va contenir le chemin pour ne pas a avoir reecrire tout le chemin entier plusieur fois #}
                    {% set url = path('user_show',{'slug':a.slug}) %}

                         <div class="row mb-3 align-items">
                                 <div class="col-md">
                                 {# afficher l'auteur dans la page d'une annonce #}
                                 {# des annonces "ad" on veut acceder au champs appelé "author"[ad] (author_id =>clé etrangere de "ad"); de celui ci on veut egalement avoir acces au champs ("picture" proprieté de user) #}
                                    {# <img src="{{ad.author.picture}}" alt="Avatar de {{ad.author.firstname}} {{ad.author.lastname}}" style=""> #}
                                    {# <img src="{{a.picture}}" alt="Avatar de {{a.firstname}} {{a.lastname}}" style=""> #}

                                    {# creeons une fonction ["getFullName() dans l'entity user"] pour  simplifier l'ecriiture du [a.firstname && a.lastname] #}
                                    <a href="{{url}}" style="text-decoration: none;">
                                    <img src="{{a.picture}}" class="avatar avatar-medium" alt="Avatar de {{a.fullName}}" style="max-width:  64 px;max-height: 64 px; border-radius: 50%;">
                                    </a>
                                </div>

                                <div class="col-md"> 
                                    {# <h3>{{ad.author.firstname}} {{ad.author.lastname}}</h3> #}
                                    {# <h3>{{a.firstname}} {{a.lastname}}</h3> #}
                                    <a href="{{url}}" style="text-decoration: none;">
                                    <h3>{{a.fullName}}</h3>
                                    </a>
                                    <spam class="badge badge-primary bg-primary">{{a.ads|length}} Annonces</spam>
                                </div> 
                        </div> 
                        <p class="mt-4">{{a.description | raw}}</p>
                        
                </div>
    </div>
</div> 
    {% endblock %}